{% extends 'main/layout.html' %}

{% block title%}{{ title }}{% endblock %}

{% block content%}
<div class="features">
    <h1>{{ title }}</h1>
    <p>Site with news from CS:GO world</p>

    <p>Counter-Strike: Global Offensive (CS:GO) is a 2012 multiplayer first-person shooter developed by Valve and Hidden Path Entertainment.
        It is the fourth game in the Counter-Strike series. Developed for over two years, Global Offensive was released for Windows, macOS, Xbox 360, and PlayStation 3 in August 2012,
        and for Linux in 2014. Valve still regularly updates the game, both with smaller balancing patches and larger content additions.</p>

    {% for el in values %}
        <p>{{ el }}</p>
    {% endfor %}
</div>
{% endblock %}
