{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block title %} {% endblock %}</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>
<body>
    <aside>
        <span class="logo">CSGO-News</span>
        <h3>Navigation</h3>
        <ul>
            <a href=""><li>Main</li></a>
            <a href=""><li>About</li></a>
            <a href=""><li>Contacts</li></a>
        </ul>
    </aside>
  {% block content %}
  {% endblock %}
</body>
</html>
