body {
    position: relative;
    background: #282a36;
}

.features {
    position: center;
    float: left;
    color: #bd93f9;
    margin-top: 80px;
    margin-left: 190px;
    text-align: center;
    width: 75%;
}

h1 {
    color: #50fa7b;
    text-indent: 30px;
    text-transform: uppercase;
}

main .features h1 {
    font-size: 50px;
}

main .features p {
    max-width: 400px;
    margin: 20px auto;
}

.alert-danger {
    float: left;
    clear: both;
    width: 400px;
    margin: 20px 34%;
    text-align: left;
}

form {
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
}

footer {
    clear: both;
    position: relative;
    margin: 0;
    padding-top: 0;
    width: inherit;
    height: 3.2em;
    z-index: auto;
}
